{% extends "tracker/base.html" %}

{% block title %}Create Transaction (FBV){% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>Create Transaction (Function-Based View)</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save Transaction</button>
            <a href="{% url 'transactions_render' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}